.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .admin-content {
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .action-button {
    border: 1px solid gray;
    background-color: #f2f2f2;
    color: black;
  }
  
  .content-line {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
  }

  .btn_undo:hover{
    background-color:aquamarine;
    color: white;
  }
  .btn_save:hover{
    background-color: #4CAF50;
    color: white;
  }
  .btn_del:hover{
    background-color: #f44336;
    color: white;
  }
  
  h1 {
    /* float:inline-start; */
    text-align: center;
    padding: 35px 0;
  }

  textarea {
    width: 420px;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 9px 0 0 11px;
  }

  .button:hover {
    background-color: #2EB82E;
    color: white;
  }
